


@font-face {
    font-family: 'MiamaNueva';
    src: url('../fonts/miamanueva.otf') format('opentype');
    src: url('../fonts/miamanueva.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat-Regular';
    src: url('../fonts/Caveat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Dance_partner';
    src: url('../fonts/Dance_partner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
    width: 100vw;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Dance_partner', sans-serif;

}

body {
    width: 100vw;
    background-image: url(../img/grass.jpg);
    background-size: 100%;
    margin: 0;
    padding: 0;
}



.wrapper {
   width: 100vw;
   background-color: rgba(209, 219, 227, 0.827);
   margin: 0 auto;

}

.header {
    position: relative;

    background-image: linear-gradient(45deg, #ffffff, #085f18cd);
    transition: background-color 2s linear;
    padding-bottom: 15px;
    padding-right: 30px;

}

   .header:hover {
    background-color: rgba(0, 0, 0, 0.642);
    }

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 0;
    padding: 0;

}

.header__hello {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-shadow:rgba(34, 67, 30, 0.671)  2px 2px 2px;
    padding-top: 10px;
}


.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
    margin-bottom: 10px;
    border: 5px solid rgba(255, 255, 255, 0.568);
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;

}

h5, button {
    margin: 0;
    padding: 0;
    font-family: 'Caveat-Regular', sans-serif;
    font-size: 20px;
}
.header__logo {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    row-gap: 16px;
    align-items: flex-start;

    z-index: 10;
    color: #1f7d30e1;
    text-shadow:rgba(116, 142, 113, 0.671)  2px 2px 2px;
    font-family: 'MiamaNueva', sans-serif;
    margin-top: 20px;

}

.logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
    margin-top: 10px;

    cursor: pointer;
}

.logo:hover {
    transform: scale(1.3);
    transition: all 0.6s;
}

.header__title {
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    text-shadow: #fff 2px 2px 2px;
}
.header__background {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
}

.header__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow:rgba(34, 67, 30, 0.671)  2px 2px 2px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #1f7d30e1;
    color: #fff;
    font-size: 23px;
    font-family: 'Caveat-Regular', sans-serif;
    cursor: pointer;
    text-shadow:rgba(34, 67, 30, 0.671)  2px 2px 2px;
    cursor: pointer;
    text-align: center;

}

.button:hover {
    background-color: #fff;
    color: #1f7d30e1;

    transition: all 0.6s;
}

.phone {
    width: 40px;
    height: 40px;
    z-index: 10;
}

.phone:hover {
    transform: scale(1.3);
    transition: all 0.6s;
}

.header__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;



}


/* main  */


/* nav */

li {
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;

    color: #fff;
    list-style: none;
    padding: 10px;
    margin: 10px 10px;
    }


    .container-nav {
        padding: 10px;
        background: transparent;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-shadow: #033f44cd;

    }

    a:hover {
        color: #1f7d30e1;

    }